<!DOCTYPE html>
<html lang="en">

<head>
    <title>👩‍🦲</title>
</head>

<body>

    <div id="app">
        {{ message }}
        <button @click="showPeople">Click</button>
        <ul v-if="show">
            <li v-for="person in people.data">
                name: {{person.firstname+' '+person.lastname}}<br>phone: {{person.phone}}
            </li>
        </ul>
    </div>

    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>

    <script>

        const app = Vue.createApp({
            data() {
                return {
                    message: "Hello World!",
                    show: false,
                    people: []
                }
            },
            methods: {
                async showPeople() {
                    const response = await fetch('https://fakerapi.it/api/v1/persons')
                    this.people = await response.json()
                    this.show = !this.show;
                    console.log(this.people);
                }
            }
        })

        app.mount('#app')

    </script>
</body>

</html>